<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJhTWg2I6oNslvXkUIMFg9zSYeO5WURMw</string>
	<key>GCM_SENDER_ID</key>
	<string>697809352010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LAB.IOS-APP</string>
	<key>PROJECT_ID</key>
	<string>iosapp-9f1e1</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapp-9f1e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697809352010:ios:a7b84884d64337b750bdb3</string>
</dict>
</plist>